In [25]:
for i in range(5):
    print( '#'*(i+1))

#
##
###
####
#####

In [33]:
a= int(input('Enter your number:'))
if (a%2==0):
    print('Even number')
else:
    print('odd number')

Enter your number:5
odd number

In [46]:
x= int(input('Enter the number:'))
if x%2==0:
    print('Even number')
else:
    print('odd number')

Enter the number:4
Even number

In [45]:
for x in range(20):
    if x%2==0:
        print('Even number')
    else:
        print('odd number')

Even number
odd number
Even number
odd number
Even number
odd number
Even number
odd number
Even number
odd number
Even number
odd number
Even number
odd number
Even number
odd number
Even number
odd number
Even number
odd number

In [158]:
#program to swap the values of two variables
a = 12
b =13
#using tradational way
c=a
a=b
b=c

a,b

(13, 12)

In [ ]:
#swap two number using the python way
a=12
b=13

a,b =b,a

In [ ]:
a, b

In [ ]:
#program to accept only desired input fron the user
while True:
    user_imp = input('close says me:')
    if user_imp =='q':
        break

In [ ]:
i=0
while i<19:
    print(i)
    i+=1

##Emulating do-while loop

In [3]:
i = 0
while True:
    print(i)
    i+=1
    if i >10:
        break

0
1
2
3
4
5
6
7
8
9
10

In [17]:
#program to count the number 
a = input('Count the nuber of vowels:')
a = list(a)
a.count('a')

Count the nuber of vowels:ajkwejja

2

# Program to count the number of each character in a string

In [26]:
user_input = input('Input some Random string:')

Input some Random string:fkdlsdjkl

In [27]:
#python method
from collections import Counter
Counter(user_input)

Counter({'f': 1, 'k': 2, 'd': 2, 'l': 2, 's': 1, 'j': 1})

In [28]:
a= 'He is a boy'

In [31]:
a.split()

['He', 'is', 'a', 'boy']

In [40]:
x=0
match x:
    case 0:
        print('This is the things on the brackler')
    case 1:
        print('I am hero')
    case_:
        print('This is not the case')
        break

SyntaxError: invalid syntax (1728976748.py, line 2)

In [49]:
for x in range(11):
    print(x)

0
1
2
3
4
5
6
7
8
9
10

In [51]:
name = 'saurav'
for a in range(10):
    print(a)

0
1
2
3
4
5
6
7
8
9

In [52]:
a = range(20)
for x in a:
    print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [54]:
for x in range(30):
    print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [58]:
a = 'this is my name'
for x in a:
    print(x)

t
h
i
s

i
s

m
y

n
a
m
e

In [78]:
a = 'harr'
for x in a :
    if (x=='r'):
        print('this is special')
        break
    else:
        print('this is not')

this is not

In [82]:
color=['red', 'green', 'blue']
for x in color:
    print(x)
    for i in x:
        print(i)

red
r
e
d
green
g
r
e
e
n
blue
b
l
u
e

In [83]:
a= ('This is my name')
for x in a:
    print(x)

T
h
i
s

i
s

m
y

n
a
m
e

In [85]:
a = ['red', 'green', 'white']
for x in a:
    print(x)
    for i in x:
        print(i)

red
r
e
d
green
g
r
e
e
n
white
w
h
i
t
e

In [88]:
a = ['xy', 'xz', 'xc']
for x in a:
    print(x)
    for i in x:
        print(i)

xy
x
y
xz
x
z
xc
x
c

In [89]:
for x in range(20):
    print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [91]:
for x in range(1, 5,2):
    print(x)

1
3

In [92]:
print('#')
print('##')

#
##

In [101]:
for i in range(6):
    print( '#' * i)

#
##
###
####
#####

In [125]:
for x in range(5):
    print('*'* x)

*
**
***
****

In [118]:
print( 'love you aashika. You are my budi. i love you forever|')

love you aashika. You are my budi. i love you forever|

In [126]:
name = 'abhisek'
for i in name:
    print(i)

a
b
h
i
s
e
k

In [127]:
list=[1, 2, 3, 4]
for i in list:
    print(i)

1
2
3
4

In [128]:
for i in range(30):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [138]:
a = 3
while(a<=5):
    print(a)
    a+=1

3
4
5

In [144]:
l = ['sun', 'momn', 'tuesday']
for x in l:
    print(x)
    for y in x:
        print(y)

sun
s
u
n
momn
m
o
m
n
tuesday
t
u
e
s
d
a
y

In [156]:
for x in range(1,5):
    print(x)

1
2
3
4

In [159]:
a=5
b=6
c=a
a=b
b=c
a,b

(6, 5)

In [160]:
a =3
b = 4
a,b=b,a

In [161]:
a,b

(4, 3)

In [162]:
print(a,b)

4 3

In [166]:
a = input('Enter the text')

from collections import Counter
Counter(a)

Enter the textjkljrek

Counter({'j': 2, 'k': 2, 'l': 1, 'r': 1, 'e': 1})

In [168]:
a ='jasekljerklrjfj'
from collections import Counter
Counter(a)

Counter({'j': 4, 'a': 1, 's': 1, 'e': 2, 'k': 2, 'l': 2, 'r': 2, 'f': 1})

In [169]:
a = input('Enter number:')
a = int(a)
print(a)

Enter number:34
34