# Code with Harry

In [73]:
#Class 5
#Escape Sequence and print statement

In [90]:
#\n break the line to the nect one
print('This is the single \nand the viewer person')

This is the single
and the viewer person

In [91]:
print('hello wolrd', 6)

hello wolrd 6

In [92]:
print('hello world' 'this ' 'is')

hello worldthis is

In [125]:
a=5
b=6
print(f'hello world:{a} this is serious:{b}')
print('hello world:', a, 'this is serious:',b)

hello world:5 this is serious:6
hello world: 5 this is serious: 6

In [120]:
print('hello world', a, 'THis number is', a)

hello world 5 THis number is 5

In [128]:
a= 'saurav'
b= 17
print('my name is', a, 'and i am', b, 'years old')

my name is saurav and i am 17 years old

In [127]:
print(f'my name is {a} and i am {b} years old')

my name is saurav and i am 17 years old

In [129]:
#Class 6  
Variable is like a container that holds data.

In [130]:
#variables 
a = 124;
print(a)

124

In [131]:
type(a)

int

In [132]:
a = 5
b =5
print(a+b)

10

In [133]:
print(a/b)

1.0

In [134]:
print(a-b)

0

In [135]:
print(a*a)

25

In [151]:
numb = input('Enter your number')

numb2 = input('Enter your second number: ')
numb = int(numb)
numb2 = int(numb2)
print(numb + numb2)

Enter your number3
Enter your second number: 5
8

In [141]:
numb =3
numb1 =5
sum = numb1  + numb
sub = numb1 - numb
print(sum)
print(sub)

8
2

In [146]:
 a = [1, 2,3 ]

In [147]:
a

[1, 2, 3]

In [148]:
print(a)

[1, 2, 3]

In [150]:
# Day 7

In [159]:
num1 = input('Enter first number:')
numb2 = input('Enter second number:')
a = int(num1)
b = int(numb2)
add = a + b
sub = a - b
mul = a * b
div = a/b

print(f'The sum of {a} and {b}:', add)
print(f'The sub of {a} and {b}:',sub)
print(f'The mul of {a} and {b}:', mul)
print(f'The div of {a} and {b}:',div)

Enter first number:8
Enter second number:4
The sum of 8 and 4: 12
The sub of 8 and 4: 4
The mul of 8 and 4: 32
The div of 8 and 4: 2.0

In [160]:
a = '1'
b = '2'
print(int(a+b))

12

In [161]:
print(int(a) + int(b))

3

In [163]:
a = input()
print('my nae is harry', a)

8
my nae is harry 8

In [1]:
#string

In [2]:
name='harry'

In [3]:
print(name[0])

h

In [15]:
print(name[0:3])

har

In [8]:
len(name)

5

In [9]:
fruit= 'mango'

In [10]:
length = len(fruit)

In [11]:
print(f'I have {length} mango ')

I have 5 mango

In [16]:
print(fruit[0:3])

man

In [17]:
print(fruit[0:5])

mango

In [21]:
print(fruit[0:-3])

ma

In [22]:
print(fruit[-1])

o

In [35]:
name = 'sauravl'
len(name)

7

In [37]:
print(name[2:-1])

urav

In [38]:
nm = 'Harry'

In [39]:
print(nm[-4:-2])

ar

In [40]:
print(len(nm))

5

In [41]:
nm[]

SyntaxError: invalid syntax (1982128810.py, line 1)

In [43]:
print(nm[0])

H

In [46]:
nm.upper()

'HARRY'

In [45]:
upper(nm)

NameError: name 'upper' is not defined

In [47]:
nm.lower()

'harry'

In [48]:
a = ('hello!!!!!!!!')

In [49]:
a.strip()

'hello!!!!!!!!'

In [50]:
a.strip()

'hello!!!!!!!!'

In [75]:
a= '!!!elloheeeee!!!!'

In [77]:
a.rstrip('!')

'!!!elloheeeee'

In [93]:
a = 'harry-sarry-mary'

In [94]:
a.replace('harry', 'jore')

'jore-sarry-mary'

In [96]:
a.split('-')

['harry', 'sarry', 'mary']

In [97]:
a= 'harry'

In [98]:
a.capitalize()

'Harry'

In [100]:
a.centre()

AttributeError: 'str' object has no attribute 'centre'

In [112]:
s='skdjjkaaasdoleij ddd'
s.startswith('skdj')

True

In [126]:
s='eoeioiqpow'

In [127]:
s.find('w')

9

# String methods

In [132]:
##Upper
#The upper() method converts a string to upper case.

a= 'Happy'
a.upper()

'happy'

In [133]:
#lower
a.lower()

'happy'

In [134]:
#strip
#The strip() method removes any white spaces before and after the string
a='the'
a.strip('e')

'th'

In [135]:
a.strip('t')

'he'

In [136]:
a.strip('h')

'the'

In [138]:
a.rstrip('t')

'the'

In [139]:
# replace
#The replace() method replaces all occurences of a string with another string.
a.replace('t', 'y')

'yhe'

In [174]:
a='this is the sense of life'

In [175]:
a.split(' ')

['this', 'is', 'the', 'sense', 'of', 'life']

In [176]:
a.capitalize()

'This is the sense of life'

In [185]:
a.count('i')

3

In [186]:
a.endswith('e')

True

In [187]:
a.endswith('t')

False

In [188]:
a.startswith('t')

True

In [190]:
a.startswith('y')

False

In [203]:
#Find() search for the fisrt occurence of the given value and returns the index where it is present. If the given value is absent from the string then return -1.
a.find('this')

0

In [202]:
#index
#The index() method searches for the first occurence of the given value and returns the index where it is present. If given value is absent from the striing then raise an exception
a.index('this')

0

In [207]:
a='Welcometotheworld8'
a.isalnum()

True

In [208]:
a.isalpha()

False

In [209]:
a= 'hello world'
a.islower()

True

In [210]:
a='HELLO'
a.isupper()

True

In [230]:
a='a s d p'

In [231]:
a.rstrip('a')

'a s d p'

In [232]:
a.replace('p', 'y')

'a s d y'

In [233]:
a.split(' ')

['a', 's', 'd', 'p']

In [235]:
a.index('d')

4

In [243]:
a= 'Asdfg'

In [244]:
a.isalnum()

True

In [245]:
a.isalpha()

True

In [15]:
for x in range(20):
    if (x == 10):
        print(x)
        continue

10

In [110]:
for i in range(10):
    if (i==5):
        break
    print(i)

0
1
2
3
4

In [120]:
#continue break the step from the loop
for x in range(10):
    if(x==5):
        break
    print(x)

0
1
2
3
4

In [ ]:
i love you more you are my everthing

In [123]:
a = 4
b =7
mean = (a*b)/(a-b)
print(mean)

-9.333333333333334

In [125]:
c = 7
d= 8
mean = (c*d)/(c-d)
print(mean)

-56.0

In [159]:
def funmean(a,b):
    mean = (a*b)/(a-b)
    tean = a/b
    return mean, tean

In [160]:
funmean(4,5)

(-20.0, 0.8)

In [138]:
def abc(a,b):
    ebc= a+b
    return ebc

In [134]:
abc(9,8)

a is grater than b

In [146]:
 result = abc(5,7)

In [148]:
result

12

In [161]:
def abc(a,b):
    pass