In [29]:
class Shape:
    def __init__(self, name, no_of_sides, side_length ):
        self.name=name
        self.no_of_sides=no_of_sides
        self.side_length=side_length
    def display_info(self,):
        return (f'the name of {self.name} which has {self.no_of_sides} and the side_length is {self.side_length}')

In [30]:
class Square(Shape):
    def __init__(self, name, no_of_sides, side_length):
        super().__init__(name, no_of_sides, side_length)
    def area(self,):
        return self.side_length *self.side_length

In [31]:
s1=Square('area', 2, 3)

In [32]:
s1.display_info()

'the name of area which has 2 and the side_length is 3'

In [33]:
s1.area()

9

In [34]:
t1=Shape('squre', 5 ,6)

In [35]:
t1.display_info()

'the name of squre which has 5 and the side_length is 6'

In [36]:
t1.area()

AttributeError: 'Shape' object has no attribute 'area'

In [37]:
f1=Square('area', 2, 3)

In [38]:
f1.area()

9

In [39]:
f1.display_info()

'the name of area which has 2 and the side_length is 3'

In [43]:
import math
class Hexagon(Shape):
    def __init__(self, name, no_of_sides, side_length):
        super().__init__( name, no_of_sides, side_length)
    def area(self,):
        return (3 * math.sqrt(3) * (self.side_length) **2/4)

In [44]:
h1 = Hexagon('hexagon', 4, 5)

In [45]:
h1.area()

32.47595264191645

In [53]:
class Triangle(Shape):
    def __init__(self, name, no_of_sides, side_length):
                super().__init__( name, no_of_sides, side_length)
    def area(self,):
        return ( math.sqrt(3) * (self.side_length * self.side_length)/4)

In [54]:
t1=Triangle('traingle', 3 ,4)

In [55]:
t1.area()

6.928203230275509

# sql

In [56]:
import sqlite3

In [57]:
conn = sqlite3.connect('db.sqlite3')

In [58]:
cur = conn.cursor()

In [68]:
create = '''
CREATE TABLE IF NOT EXISTS USER(
    ID INTEGER PRIMARY KEY AUTOINCREMENT,
    NAME STRING NOT NULL,
    ADDRESS STRING NOT NULL,
    AGE INTEGER NULL,
    GENDER STRING NULL

);
'''

cur.execute(create)

In [70]:
#always use double sql query
update ="""
INSERT INTO USER('NAME', 'ADDRESS', 'AGE')
VALUES('RADHA PYARI', 'SUNWAL', 18);
"""

In [71]:
cur.execute(update)

In [72]:
read ="""
SELECT * FROM USER
"""
data = cur.execute(read)

In [73]:
data.fetchall()

[(1, 'RADHA PYARI', 'SUNWAL', 18, None)]

In [75]:
update="""
INSERT INTO USER('NAME', 'ADDRESS', 'AGE', 'Gender')
VALUES('Ghanasahyam', 'baitadi', 18, 'male');
"""
cur.execute(update)

In [76]:
read ="""
SELECT * FROM USER
"""
data = cur.execute(read)

In [77]:
data.fetchall()

[(1, 'RADHA PYARI', 'SUNWAL', 18, None),
 (2, 'Ghanasahyam', 'baitadi', 18, 'male')]

In [79]:
query ="""
select name, address from user
"""
data = cur.execute(query)

data.fetchall()

[('RADHA PYARI', 'SUNWAL'),
 ('Ghanasahyam', 'baitadi'),
 ('Ghanasahyam', 'baitadi')]

In [80]:
query ="""
select name, address from user where ADDRESS = 'baitadi'
"""
data = cur.execute(query)

data.fetchall()

[('Ghanasahyam', 'baitadi'), ('Ghanasahyam', 'baitadi')]

In [81]:
info=[
    ['Hari bahadur', 'kritipur', 60, 'gender'],
    ['Misiri maya', 'kritipur', 60, 'Female'],
    ['Madan bahdur', 'krhokha', 60, 'male'],
    
]